body {
    background-color: #f4f3f4;
}

.page-img #first-about-div {
    height: 640px;
    background: url("../img/about/about-1.png") no-repeat center right;
    background-size: auto;
    position: relative;
}

#page-about-first p {
    margin: 0 0;
}

.company-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 17px;
    height: 17px;
    background-image: linear-gradient(18deg, #d70b15 0%, #fc7919 100%);
    border-radius: 10px;
    float: left
}
.company-list {
    font-family: MicrosoftYaHei;
    font-size: 25px;
    color: #313131;
    margin-left: 30px;
}

.company-line {
    border-bottom: 1px solid #eeeeee;
    margin-top: 32px;
    margin-bottom: 70px;
}

.company-history-icon {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    margin-left: 4px;
    width: 8px;
    height: 8px;
    background-image: linear-gradient(18deg, #d70b15 0%, #fc7919 100%);
    border-radius: 8px;
    float: left;
    margin-bottom: 90px;
}

.company-history-list {
    font-size: 18px;
    color: #7d7d7d;
    margin-left: 35px;
}

.company-history-info {
    margin-left: 18px;
    color: #7d7d7d;
}

.company-history-list-info {
    padding-left: 120px;
    position: relative;
    font-size: 20px
}

.company-history-line {
    border-bottom: 1px solid #eeeeee;
    margin: 15px 310px 15px 250px
}

.list-distract {
    position: relative;
    left: 10%;
    margin-top: 43px;
}

.company-history-icon-more {
    position: absolute;
    top: 25%;
    margin-top: -4px;
    margin-left: 4px;
    width: 8px;
    height: 8px;
    background-image: linear-gradient(18deg, #d70b15 0%, #fc7919 100%);
    border-radius: 8px;
    float: left;
    margin-bottom: 90px;
}
.company-history-info-more {
    margin-left: 130px;
    color: #7d7d7d;
}

.container-about {
    background-color: #ffffff;
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

#company-culture .footer-href-nav {
    text-align: center;
    margin:70px 0;
    padding: 0 10px;
    font-size: 17px;
    color: #797878
}

#company-culture .container a{
    text-decoration:none;
    color: #797878
}

#company-culture .container .footer-href-nav .segmenting-line{
    display:inline;
    margin: 0 78px;
    float: left;
}

.about-culture-img {
    height: 9px;
    background-image: url("../img/about/about-culture.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 65px;
    margin-top: 91px;
}
.about-culture-text {
    display: none;
    padding-bottom: 30px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 20px;
    background: -webkit-linear-gradient(left, #da1315, #fb7519);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-culture-title {
    padding-top: 65px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 20px;
    color: #585858;
}

.about-culture-title-too {
    padding-top: 80px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 20px;
    color: #585858;
}
.about-culture-img-too {
    height: 9px;
    background-image: url("../img/about/about-culture.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 65px;
    margin-top: 45px;
}

.about-culture-title-hover {
    padding-top: 30px;
}

.about-culture-text-hover {
    display: inline;
}

.about-culture-img-hover {
    margin-bottom: 60px;
    margin-top: 45px;
}




