body {
    background-color: #f4f3f4;
}

.page-img #first-merchant-div {
    height: 509px;
    background: url("../img/merchant/merchant-1.png") no-repeat center center;
    background-size: cover;
    position: relative;
}

#second-merchant-div {
    height: 480px;
    background: url("../img/merchant/merchant-2.png") no-repeat center center;
    background-size: cover;
    position: relative;
}

#third-merchant-div {
    height: 440px;
    background: url("../img/merchant/merchant-3.png") no-repeat center center;
    background-size: cover;
    position: relative;
}

#fourth-merchant-div {
    height: 509px;
    background: url("../img/merchant/merchant-4.png") no-repeat center center;
    background-size: cover;
    position: relative;
}

#fifth-merchant-div {
    height: 491px;
    background: url("../img/merchant/merchant-5.png") no-repeat center center;
    background-size: cover;
    position: relative;
}