body {
    background-color: #f4f3f4;
}

#first-supply-div {
    height: 696px;
    background: url("../img/supply/supply-1.png") no-repeat center center;
    background-size: cover;
}

#second-supply-div {
    height: 428px;
    background: url("../img/supply/supply-2.png") no-repeat center center;
    background-size: cover;
}

#third-supply-div {
    height: 428px;
    background: url("../img/supply/supply-3.png") no-repeat center center;
    background-size: cover;
}

#fourth-supply-div {
    height: 428px;
    background: url("../img/supply/supply-4.png") no-repeat center center;
    background-size: cover;
}
