body {
    background-color: #f4f3f4;
}

.page-img #first-supply-div {
    height: 2593px;
    background: url("../img/supply/supply-1.png") no-repeat center center;
    background-size: cover;
    position: relative;
}

.page-img #second-supply-div {
    margin-top: 10px;
    height: 760px;
    background: url("../img/supply/supply-2.png") no-repeat center center;
    background-size: cover;
    position: relative;
}
